<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">../Log4j2Example/logs</Property>
    </Properties>
    <Appenders>
        <!-- File Appender -->
        <File name="file" fileName="${basePath}/logfile.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>
        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </Console>
    <Socket name="Socket" host="localHost" port="514" protocol="UDP" >
        <SerializedLayout />
    </Socket>
    </Appenders>
    <Loggers>
        <Logger name="com.jcg" level="info" >
            <AppenderRef ref="Socket" />
        </Logger>
        <logger name="org.apache" level="debug" />
        <Root level="debug">
            <AppenderRef ref="STDOUT" />   
            <AppenderRef ref="file" />
         
        </Root>
    </Loggers>
</Configuration>